@import 'tailwind.css';
@import 'variables.css';
@import 'z-index.css';
@import 'animations.css';
@import 'fonts.css';
@import 'components/terminal.css';
@import 'components/resize-handle.css';
@import 'components/code.css';
@import 'components/editor.css';

html,
body {
  height: 100%;
  width: 100%;
}

/* Temporary fix to make scrollbars look right in the production build */
* {
  scrollbar-width: thin !important;
} 

:root {
  --gradient-opacity: 0.8;
  --primary-color: rgba(158, 117, 240, var(--gradient-opacity));
  --secondary-color: rgba(138, 43, 226, var(--gradient-opacity));
  --accent-color: rgba(128, 59, 239, var(--gradient-opacity));
}

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

@layer components {
  .kdb {
    @apply bg-bolt-elements-code-background text-bolt-elements-code-text py-1 px-1.5 rounded-md;
  }
}

@layer utilities {
  .transition-theme {
    @apply transition-[background-color,border-color,color] duration-150 bolt-ease-cubic-bezier;
  }

  .bolt-ease-cubic-bezier {
    @apply ease-[cubic-bezier(0.4,0,0.2,1)];
  }
}
