{
  "printWidth": 120,
  "singleQuote": true,
  "overrides": [
    {
      "files": "template/**/*",
      "options": {
        "printWidth": 80,
        "singleQuote": false
      }
    },
    {
      "files": "convex/**/*",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
